<html>
  <head>
    <title> Visible Memos </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="assets/styles.css" rel="stylesheet" type="text/css" >
  </head>
  <body>
    <div id="visibleMemos-table">
      <form>
        <input type="text" name="item" placeholder="Add another memo"> </input>
        <button type="submit" > Submit </button>
      </form>
    </div>
    <div>
      <ul>
        <li> Item 1 </li>
        <li> Item 2 </li>
        <li> Item 3 </li>
      </ul>
    </div>
  </body>
</html>
