body{
    background: #009688;
    font-family: tahoma;
    color: #8395a7;
}

#todo-table{
    position: relative;
    width: 95%;
    background: #5f27cd;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#todo-table form:after{
    margin: 0;
    content: '';
    display: block;
    clear: both;
}

input[type="text"]{
    width: 70%;
    padding: 20px;
    background:#607D8B;
    border: 0;
    float: left;
    font-size: 20px;
    color: #5f27cd;
}

button{
    padding: 20px;
    width: 30%;
    float: left;
    background: #341f97;
    border: 0;
    box-sizing: border-box;
    color: #c8d6e5;
    cursor: pointer;
    font-size: 20px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: Comic Sans cursive;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
    color:white;
}

li:hover{
    text-decoration: line-through;
    background: #5f27cd;
}

h1{
    background: url(/logo.png) no-repeat center;
    margin-bottom: 0;
    text-indent: -10000px;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    font : Andale;
}
